<div id="Footer">
 <a href='https://github.com/yaakymiv'><img src="images/git.svg"></a>
 <a href='https://www.instagram.com/yaakymiv/'><img src="images/insta.svg"></a>
 <a href='https://discord.com/channels/@yaakymiv'><img src="images/dis.svg"></a>
</div>