<div class="head_main">
  <a href="/" class="logo"><img src="/images/logo.svg" alt="" /><h1
    >Weatherio</h1></a>

  <div class="nav_bar">
    <a href="/help">Help</a>
    <a href="/about">About</a>
  </div>

</div>